<header class="site-header" role="banner">
  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}

    <a class="header-link" href="/wg-net/">Rust Network Services Working Group</a>

    <div class="menu">

      <a class="menu-link" href="/wg-net/async-foundations">
        Async
      </a>

      <a class="menu-link" href="/wg-net/embedded-foundations">
        Embedded
      </a>

      <a class="menu-link" href="/wg-net/web-foundations">
        Web
      </a>

      <a class="github-link" href="https://github.com/rustasync/team" target="_blank">
        <img src="{{site.baseurl}}/assets/images/github.svg" alt="GitHub" width="25" height="25">
        Repo
      </a>
    </div>
  </div>
</header>
